<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
	
	<title> Blog post </title>
	
</head>
<body>
	
    <div id="blog-post-wrap">
    	
        <div class="row">
            <div class="span12">
                
                <div class="blog-post">
                
                    <div class="blog-post-title">
                    
                        <div class="headline">
                            
                            <h1>Curabitur auctor vulputate accumsan purus enim eu vestibulum.</h1> 
                            <h5>
                                By 
                                <a href="#">Jessie Pinkman </a>
                                in 
                                <a href="#">Photography</a>
                            </h5>
                            
                        </div><!-- end .headline -->
                
            		</div><!-- end .blog-post-title -->
                    
                    <div class="blog-post-info">
                    	
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque malesuada elementum neque, ornare 
                        tincidunt libero venenatis id. Morbi quis elit eget ante malesuada volutpat eget iaculis nulla. Proin varius 
                        lacinia nunc, vel consequat diam dignissim ac. Aliquam eleifend eros eget massa porttitor.</p>
                        
                        <p>
                        	<strong>Aliquam pharetra, leo rutrum viverra iaculis</strong><br>
                            Aliquam pharetra, leo rutrum viverra iaculis, eros magna vestibulum leo, nec accumsan purus enim fermentum 
                            leo. Pellentesque faucibus eros luctus euismod suscipit. Donec leo mauris, iaculis id sagittis sed, facilisis
                            ut ligula. Vestibulum non leo sit amet lacus posuere molestie vel non risus. Nunc porta erat in tempor viverra. 
                            Vivamus non nulla sed turpis pretium aliquet. 
                        </p>
                        
                    </div><!-- end .blog-post-info -->
                    
                    <div class="blog-post-thumb">
                    	
                        <div class="blog-post-slider-3">
                        	
                            <ul class="slides">
                            	<li>
                                	<img src="_content/corporate/blog-post/slider/1170x480-1.png" alt="">
                                </li>
                                <li>
                                	<img src="_content/corporate/blog-post/slider/1170x480-2.png" alt="">
                                </li>
                                <li>
                                	<img src="_content/corporate/blog-post/slider/1170x480-3.png" alt="">
                                </li>
                                <li>
                                	<img src="_content/corporate/blog-post/slider/1170x480-4.png" alt="">
                                </li>
                            </ul>
                            
                        </div><!-- end .blog-post-slider -->
                        
                    </div><!-- end .blog-post-thumb -->
                    
                    <div class="blog-post-info">
                    	
                        <p>Cras eu nunc nec massa tempor viverra euismod at est. Vestibulum interdum urna ligula, vel vehicula mauris 
                        rutrum id. Mauris sagittis tellus euismod, viverraeu, consequat augue. Quisque luctus gravida justo ut vehicula. 
                        Sed dapibus risus et nunc faucibus blandit. Nulla placerat enim sodales nibh placerat pulvinar. Curabitur lacus 
                        dolor, mollis non iaculis ultrices, tristique ac quam. Duis pellentesque dignissim massa vel iaculis. </p>
                        
                        <p>Duis posuere, lacus non vulputate consectetur, nunc eros auctor leo, ac ultrices erat magna vitae lacus. In feugiat 
                        ornare erat ut facilisis. Aenean placerat pulvinar ipsum, in pellentesque nulla porttitor nec. Nullam tincidunt a elit 
                        sed volutpat. Morbi lacus turpis, vestibulum ut gravida hendrerit, ullamcorper vitae enim. Mauris turpis erat, pulvinar 
                        sed orci et, pellentesque ornare nulla. </p>
                        
                    </div><!-- end .blog-post-info -->
                
                </div><!-- end .blog-post -->
            
            </div><!-- end .span12 -->
        </div><!-- end .row -->
        
        <div class="row">
        	<div class="span12">
                        
                <h3 id="reply-title" class="comment-reply-title">
                    Article comments
                    <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel reply</a></small>
                </h3>
                
                <ol class="commentlist">
                
                    <li class="comment odd alt thread-odd thread-alt depth-1 parent">
                    
                        <div class="comment-body">
                        
                            <div class="comment-author vcard">
                                <img width="80" height="80" class="avatar avatar-32 photo" src="_content/corporate/blog-post/authors/80x80-1.png" alt="">			
                                <cite class="fn"><a class="url" rel="external nofollow" href="#">Jessica Rodriguez</a></cite> 
                                <span class="says">says:</span>		
                            </div>
                    
                            <div class="comment-meta commentmetadata">
                                <a href="#">May 12, 2014 at 5:28 pm</a>
                            </div>
                
                            <p>
                            	<strong>Excelent clean work!</strong><br>
                                Pellentesque eros odio, condimentum nulla eget, elementum luctus sem. Morbi lobortis nisl elit, tempor blandit nulla 
                                malesuada sed. Maecenas metus sapien, aliquet ac tincidunt accumsan, eleifend a augue. Aenean lectus justo, adipiscing 
                                quis ullamcorper vitae, ultricies vitae ipsum. Phasellus quis justo pulvinar, lacinia leo nec, consequat nisi.
                            </p>
                
                            <div class="reply">
                                <a href="#" class="comment-reply-link">Reply</a>		
                            </div>
                
                        </div>
                        
                        <ul class="children">
                        
                            <li class="comment even depth-2">
                            
                                <div class="comment-body">
                                
                                    <div class="comment-author vcard">
                                        <img width="80" height="80" class="avatar avatar-32 photo" src="_content/corporate/blog-post/authors/80x80-2.png" alt="">			
                                        <cite class="fn"><a class="url" rel="external nofollow" href="#">Kenneth M. Berg</a></cite> 
                                        <span class="says">says:</span>		
                                    </div>
                
                                    <div class="comment-meta commentmetadata">
                                        <a href="#">May 12, 2014 at 5:39 pm</a>
                                    </div>
                
                                    <p>
                                    	<strong>Thanks a lot!</strong><br>
                                        Morbi lobortis nisl elit, tempor blandit nulla malesuada sed. Maecenas metus sapien, aliquet ac tincidunt accumsan, 
                                        eleifend a augue.  Pellentesque eros odio, condimentum nulla eget, elementum luctus sem. Aenean lectus justo.
                                    </p>
                
                                    <div class="reply">
                                        <a href="#" class="comment-reply-link">Reply</a>		
                                    </div>
                                    
                                </div>
                                
                            </li>
                            
                        </ul><!-- end .children -->
                                    
                    </li><!-- end .comment -->
                </ol>
                
            </div><!-- end .span12 -->
        </div><!-- end .row -->
        
        <div class="row">
        	<div class="span12">
            	
                <div id="respond" class="comment-respond">
                        
                    <!-- If there are no comments and comments are closed -->
                    <p class="nocomments">Comments are closed.</p>
                    
                    <!-- If you must be logged in to comment -->
                    <p class="must-log-in">You must be <a href="#">logged in</a> to post a comment.</p>
                    
                     <!-- If you are logged in -->
                    <p class="logged-in-as">You are logged in as Name</p>
                    
                    <h3><strong>Leave a message</strong></h3>
                    
                    <form action="#" method="post" id="commentform" class="comment-form" novalidate>
                        
                        <!-- Text or HTML to be displayed before the set of comment form fields if the user is not logged in. -->
                        <p class="comment-notes">Your email address will not be published.</p>
                
                        <p class="comment-form-author">
                            <label for="author">Name <span class="required">*</span></label> 
                            <input class="span12" id="author" name="author" type="text" placeholder="name" size="30" aria-required="true">
                        </p>
                
                        <p class="comment-form-email">
                            <label for="email">Email <span class="required">*</span></label> 
                            <input class="span12" id="email" name="email" type="email" placeholder="email" size="30" aria-required="true">
                        </p>
                
                        <p class="comment-form-comment">
                            <label for="comment">Message</label> 
                            <textarea class="span12" id="comment" name="comment" cols="45" rows="8" aria-required="true" placeholder="message"></textarea>
                        </p>						
                
                        <!-- Text or HTML to be displayed after the set of comment fields (and before the submit button) -->
                        <p class="form-allowed-tags">You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes: <code> allowed_tags() </code></p>
                
                        <p class="form-submit">
                            <input class="btn text-uppercase" name="submit" type="submit" id="submit" value="Send">
                        </p>
                        
                    </form>
                    
                </div><!-- end #respond -->
                
            </div><!-- end .span12 -->
        </div><!-- end .row -->  
    
    </div><!-- end #blog-post-wrap -->
    
</body>
</html>
