<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
	
	<title> Poject 1 </title>
	
</head>
<body>

    <div id="project-wrap">
                        
        <div class="row">
        	<div class="span12">
            	
                <div class="headline">
                	
                    <h1>Brochure</h1>
                    
                </div><!-- end .headline -->
                
            </div><!-- end .span12 -->
        </div><!-- end .row -->
        
        <div class="row">
        	<div class="span6">
            	
                <div class="portfolio-slider">
                	
                    <ul class="slides">
                    	<li>
                        	<img src="_content/corporate/portfolio-2/slider/570x430-1.png" alt="">
                        </li>
                        <li>
                        	<img src="_content/corporate/portfolio-2/slider/570x430-2.png" alt="">
                        </li>
                        <li>
                        	<img src="_content/corporate/portfolio-2/slider/570x430-3.png" alt="">
                        </li>
                        <li>
                        	<img src="_content/corporate/portfolio-2/slider/570x430-4.png" alt="">
                        </li>
                    </ul>
                    
                </div><!-- end .portfolio-slider -->
                
            </div><!-- end .span6 -->
            <div class="span6">
            	
                <h3>General Description</h3>
                
                <br>
                
                <p>Donec vulputate dolor nec nisl rutrum pulvinar. Pellentesque venenatis, augue non consequat tristique, 
                sapien odio condimentum mauris, a dictum nulla mi in ligula. Pellentesque id elementum orci. </p>
                
                <p>Maecenas tincidunt tristique libero. Suspendisse mi diam, consectetur eget ligula aliquet, euismod varius 
                magna. In hac habitasse platea dictumst. Aliquam tincidunt lectus at augue pretium euismod. Etiam facilisis 
                risus at felis condimentum consequat. Sed malesuada blandit augue.</p>
                
                <h3>Client</h3>
                
                <br>
                
                <p>
                	For: Diamond Inc.<br>
                    Category: Print Design<br>
                    Date Start: 28 - 01 - 2014<br>
                    Date Finished: 15 - 02 - 2014<br>
                    URL: www.yourclientsite.com
                </p>
                
            </div><!-- end .span6 -->
        </div><!-- end .row -->
        
        <br>
        
        <div class="row">
        	<div class="span6">
            	
                <h3>Skills Used</h3>
                
                <br>
                
                <div class="fixed">
                        
                    <div class="progress-bar-description">
                        <span>76%</span>
                        Photoshop - Aliquam pharetra, leo rutrum viverra.
                    </div>
                   
                    <div class="progress-bar">  
                        <span class="progress-bar-outer" data-width="76" style="background:linear-gradient(90deg, #e36453, #b73827);"> 
                            <span class="progress-bar-inner"></span> 
                        </span>
                    </div><!-- end .progress-bar -->
                    
                </div>
                
                <div class="fixed">
                
                    <div class="progress-bar-description">
                        <span>88%</span>
                        Corel Draw -  Donec leo mauris, iaculis id sagittis sed.
                    </div>
                   
                    <div class="progress-bar">  
                        <span class="progress-bar-outer" data-width="88" style="background:linear-gradient(90deg, #f7c179, #ce8c3e);"> 
                            <span class="progress-bar-inner"></span> 
                        </span>
                    </div><!-- end .progress-bar -->
                    
                </div>
                
                <div class="fixed">
                
                    <div class="progress-bar-description">
                        <span>95%</span>
                        Adobe Illustrator -  Donec leo mauris id sagittis sed.
                    </div>
                   
                    <div class="progress-bar">  
                        <span class="progress-bar-outer" data-width="95" style="background:linear-gradient(90deg, #2ecec6, #018079);"> 
                            <span class="progress-bar-inner"></span> 
                        </span>
                    </div><!-- end .progress-bar -->
                    
                </div>
                
                <div class="fixed">
                
                    <div class="progress-bar-description">
                        <span>80%</span>
                        Cinema 4D -  Donec leo mauris, iaculis id sagittis sed.
                    </div>
                   
                    <div class="progress-bar">  
                        <span class="progress-bar-outer" data-width="80" style="background:linear-gradient(90deg, #b694b5, #542e57);"> 
                            <span class="progress-bar-inner"></span> 
                        </span>
                    </div><!-- end .progress-bar -->
                    
                </div>
                
            </div><!-- end .span6 -->
            <div class="span6">                
                
                <h3>What the client say.</h3>
                
                <br>
                
                <div class="testimonial">
                	
                    <div class="testimonial-overlay"></div>
                    
                    <h4>John Wilson Doe</h4>
                    <h6>Marketing / Diamond Inc.</h6>
                    
                    <blockquote>
                    	<p>Quisque ullamcorper pretium turpis, iaculis lectus euismod alea phasellus at quam fringilla, rutrum nisl 
                        ac dia, porta arcu. Pellentesque ac venenatis leo nec odio dignissim eros eu.</p>
                    </blockquote>
                    
                </div><!-- end .testimonial -->
                
            </div><!-- end .span6 -->
        </div><!-- end .row -->
        
    </div><!-- end #project-wrap -->
    
</body>
</html>
